<launch>
    <!-- Arguments -->
    <arg name="waypoint_file" default="$(find shiviz_px4_nav)/config/waypoints.yaml" />
    <arg name="takeoff_height" default="1.5" />
    <arg name="use_sim" default="true" />
    <arg name="use_rc" default="false" />

    <!-- Load ROS params -->
    <rosparam file="$(find shiviz_px4_nav)/config/params.yaml" command="load" />

    <!-- Shiviz PX4 Navigation node -->
    <node pkg="shiviz_px4_nav" type="shiviz_px4_nav_node" name="shiviz_px4_nav_node" output="screen">
        <param name="waypoint_file" value="$(arg waypoint_file)" />
        <param name="takeoff_height" value="$(arg takeoff_height)" />
        <param name="use_rc" value="$(arg use_rc)" />
    </node>

    <!-- MAVROS launch for simulation -->
    <group if="$(arg use_sim)">
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557" />
        </include>
    </group>

    <!-- MAVROS launch for real hardware -->
    <group unless="$(arg use_sim)">
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="/dev/ttyS1:119200" />
        </include>
    </group>
</launch>